:root {
    --green: #00FFC2;
    --bkg: #212121;
    --darker: #111111;
    --red-semi: rgba(221, 14, 14, 0.15);
    --light-red: #F57070;
    --green-semi: rgba(11, 153, 34, .15);
    --light-green: #6BF581;
    --text: #EAEAEA;
    --text-semi: hsla(0, 0, 92, .5);
    --black-semi: hsla(0, 0, 0, .8);
}

.todo {
    background-color: var(--darker);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    width: 854px;
    margin-top: 12px;
    margin-bottom: 12px;
}

h2 {
    font-size: 40px;
    font-weight: 300;
    color: var(--text);
}

button {
    border: 0;
    border-radius: 8px;
}

.check-button {
    background-color: var(--green-semi);
}

.delete-button {
    background-color: var(--red-semi);
}
